{{- $crdReplicatorConfig := (merge (dict "name" "crd-replicator" "module" "dispatcher" "version" .Values.crdReplicator.image.version) .) -}}

apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    {{- include "liqo.labels" $crdReplicatorConfig | nindent 4 }}
  name: {{ include "liqo.prefixedName" $crdReplicatorConfig }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "liqo.selectorLabels" $crdReplicatorConfig | nindent 6 }}
  template:
    metadata:
    {{- if .Values.crdReplicator.pod.annotations }}
      annotations:
        {{- toYaml .Values.crdReplicator.pod.annotations | nindent 8 }}
    {{- end }}
      labels:
        {{- include "liqo.labels" $crdReplicatorConfig | nindent 8 }}
        {{- if .Values.crdReplicator.pod.labels }}
           {{- toYaml .Values.crdReplicator.pod.labels | nindent 8 }}
        {{- end }}
    spec:
      securityContext:
        {{- include "liqo.podSecurityContext" . | nindent 8 }}
      serviceAccountName: {{ include "liqo.prefixedName" $crdReplicatorConfig }}
      containers:
        - image: {{ .Values.crdReplicator.image.name }}{{ include "liqo.suffix" $crdReplicatorConfig }}:{{ include "liqo.version" $crdReplicatorConfig }}
          imagePullPolicy: {{ .Values.pullPolicy }}
          securityContext:
            {{- include "liqo.containerSecurityContext" . | nindent 12 }}
          name: {{ $crdReplicatorConfig.name }}
          command: ["/usr/bin/crd-replicator"]
          args:
            - --cluster-id=$(CLUSTER_ID)
            {{- if .Values.common.extraArgs }}
            {{- toYaml .Values.common.extraArgs | nindent 12 }}
            {{- end }}
            {{- if .Values.crdReplicator.pod.extraArgs }}
            {{- toYaml .Values.crdReplicator.pod.extraArgs | nindent 12 }}
            {{- end }}
          env:
            - name: CLUSTER_ID
              valueFrom:
                configMapKeyRef:
                  name: {{ include "liqo.clusterIdConfig" . }}
                  key: CLUSTER_ID
          resources: {{- toYaml .Values.crdReplicator.pod.resources | nindent 12 }}
          ports:
          - name: metrics
            containerPort: 8082
            protocol: TCP
      {{- if ((.Values.common).nodeSelector) }}
      nodeSelector:
      {{- toYaml .Values.common.nodeSelector | nindent 8 }}
      {{- end }}
      {{- if ((.Values.common).tolerations) }}
      tolerations:
      {{- toYaml .Values.common.tolerations | nindent 8 }}
      {{- end }}
      {{- if ((.Values.common).affinity) }}
      affinity:
      {{- toYaml .Values.common.affinity | nindent 8 }}
      {{- end }}
      {{- if .Values.crdReplicator.pod.priorityClassName }}
      priorityClassName: {{ .Values.crdReplicator.pod.priorityClassName }}
      {{- end }}
---
