{{- if and (.Values.networking.enabled) (not .Values.ipam.external.enabled) }}

{{- $ipamConfig := (merge (dict "name" "ipam" "module" "ipam" "version" .Values.ipam.internal.image.version) .) -}}
{{- $ha := (gt .Values.ipam.internal.replicas 1.0) -}}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "liqo.prefixedName" $ipamConfig }}
  labels:
  {{- include "liqo.labels" $ipamConfig | nindent 4 }}
spec:
  replicas: {{ .Values.ipam.internal.replicas }}
  selector:
    matchLabels:
      {{- include "liqo.selectorLabels" $ipamConfig | nindent 6 }}
  template:
    metadata:
    {{- if .Values.ipam.internal.pod.annotations }}
      annotations:
        {{- toYaml .Values.ipam.internal.pod.annotations | nindent 8 }}
    {{- end }}
      labels:
        {{- include "liqo.labels" $ipamConfig | nindent 8 }}
        {{- if .Values.ipam.internal.pod.labels }}
          {{- toYaml .Values.ipam.internal.pod.labels | nindent 8 }}
        {{- end }}
    spec:
      securityContext:
        {{- include "liqo.podSecurityContext" . | nindent 8 }}
      serviceAccountName: {{ include "liqo.prefixedName" $ipamConfig }}
      containers:
        - image: {{ .Values.ipam.internal.image.name }}{{ include "liqo.suffix" $ipamConfig }}:{{ include "liqo.version" $ipamConfig }}
          imagePullPolicy: {{ .Values.pullPolicy }}
          securityContext:
            {{- include "liqo.containerSecurityContext" . | nindent 12 }}
          name: {{ $ipamConfig.name }}
          command: ["/usr/bin/ipam"]
          ports:
            - name: ipam-api
              containerPort: 6000
          {{- if not $ha }}
          livenessProbe:
            grpc:
              port: 6000
            initialDelaySeconds: 1
          readinessProbe:
            grpc:
              port: 6000
          {{- end }}
          args:
            - --pod-name=$(POD_NAME)
            - --port=6000
            - --sync-interval={{ .Values.ipam.internal.syncInterval }}
            - --sync-graceperiod={{ .Values.ipam.internal.syncGracePeriod }}
            {{- if $ha }}
            - --leader-election
            - --leader-election-namespace=$(POD_NAMESPACE)
            - --deployment-name={{ include "liqo.prefixedName" $ipamConfig }}
            {{- end }}
            {{- if .Values.ipam.pools }}
            {{- $d := dict "commandName" "--pools" "list" .Values.ipam.pools }}
            {{- include "liqo.concatenateList" $d | nindent 12 }}
            {{- end }}
            {{- if .Values.common.extraArgs }}
            {{- toYaml .Values.common.extraArgs | nindent 12 }}
            {{- end }}
            {{- if .Values.ipam.internal.pod.extraArgs }}
            {{- toYaml .Values.ipam.internal.pod.extraArgs | nindent 12 }}
            {{- end }}
            - --enable-graphviz={{ .Values.ipam.internal.graphviz }}
          env:
          - name: POD_NAME
            valueFrom:
             fieldRef:
               fieldPath: metadata.name
          - name: POD_NAMESPACE
            valueFrom:
             fieldRef:
               fieldPath: metadata.namespace
          resources: {{- toYaml .Values.ipam.internal.pod.resources | nindent 12 }}
          {{- if .Values.ipam.internal.graphviz }}
          volumeMounts:
            - mountPath: /graphviz
              name: graphviz
          {{- end }}
      {{- if ((.Values.common).nodeSelector) }}
      nodeSelector:
      {{- toYaml .Values.common.nodeSelector | nindent 8 }}
      {{- end }}
      {{- if ((.Values.common).tolerations) }}
      tolerations:
      {{- toYaml .Values.common.tolerations | nindent 8 }}
      {{- end }}
      {{- if ((.Values.common).affinity) }}
      affinity:
      {{- toYaml .Values.common.affinity | nindent 8 }}
      {{- end }}
      {{- if .Values.ipam.internal.pod.priorityClassName }}
      priorityClassName: {{ .Values.ipam.internal.pod.priorityClassName }}
      {{- end }}
      {{- if .Values.ipam.internal.graphviz }}
      volumes:
        - name: graphviz
          emptyDir: {}
      {{- end }}
{{- end }}
