---
{{- $ctrlManagerConfig := (merge (dict "name" "controller-manager" "module" "controller-manager") .) -}}
{{- $webhookConfig := (merge (dict "name" "webhook" "module" "webhook") .) -}}
{{- $netManagerConfig := (merge (dict "name" "network-manager" "module" "networking") .) -}}

{{- $vkargs := .Values.virtualKubelet.extra.args }}
{{- /* Enable the API support if not overridden by the user */ -}}
{{- if not (or (has "--enable-apiserver-support" $vkargs ) (has "--enable-apiserver-support=true" $vkargs ) (has "--enable-apiserver-support=false" $vkargs )) }}
{{- $vkargs = append $vkargs "--enable-apiserver-support=true" }}
{{- end }}
{{- /* Configure the appropriate flags if the internal networking is disabled, if not overridden by the user */ -}}
{{- if not .Values.networking.internal }}
{{- if not (or (has "--node-check-network" $vkargs ) (has "--node-check-network=true" $vkargs ) (has "--node-check-network=false" $vkargs )) }}
{{- $vkargs = append $vkargs "--node-check-network=false" }}
{{- end }}
{{- end }}
{{- /* Configure the appropriate flags if the IP reflection is disabled, if not overridden by the user */ -}}
{{- if not .Values.networking.reflectIPs }}
{{- if not (or (has "--disable-ip-reflection" $vkargs ) (has "--disable-ip-reflection=true" $vkargs ) (has "--disable-ip-reflection=false" $vkargs )) }}
{{- $vkargs = append $vkargs "--disable-ip-reflection" }}
{{- end }}
{{- end }}
{{- /* Configure the appropriate certificate generation approach on EKS clusters, if not overridden by the user */ -}}
{{- if .Values.awsConfig.accessKeyId }}
{{- if not (or (has "--certificate-type=kubelet" $vkargs ) (has "--certificate-type=aws" $vkargs ) (has "--certificate-type=self-signed" $vkargs )) }}
{{- $vkargs = append $vkargs "--certificate-type=aws" }}
{{- end }}
{{- end }}

apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    {{- include "liqo.labels" $ctrlManagerConfig | nindent 4 }}
  name: {{ include "liqo.prefixedName" $ctrlManagerConfig }}
spec:
  replicas: {{ .Values.controllerManager.replicas }}
  selector:
    matchLabels:
      {{- include "liqo.selectorLabels" $ctrlManagerConfig | nindent 6 }}
  template:
    metadata:
    {{- if .Values.controllerManager.pod.annotations }}
      annotations:
      {{- toYaml .Values.controllerManager.pod.annotations | nindent 8 }}
    {{- end }}
      labels:
        {{- include "liqo.labels" $ctrlManagerConfig | nindent 8 }}
      {{- if .Values.controllerManager.pod.labels }}
        {{- toYaml .Values.controllerManager.pod.labels | nindent 8 }}
      {{- end }}
    spec:
      {{- if gt .Values.controllerManager.replicas 1.0 }}
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchLabels:
                  {{- include "liqo.selectorLabels" $ctrlManagerConfig | nindent 18 }}
              topologyKey: kubernetes.io/hostname
      {{- end }}
      securityContext:
        {{- include "liqo.podSecurityContext" . | nindent 8 }}
      serviceAccountName: {{ include "liqo.prefixedName" $ctrlManagerConfig }}
      containers:
      - image: {{ .Values.controllerManager.imageName }}{{ include "liqo.suffix" $ctrlManagerConfig }}:{{ include "liqo.version" $ctrlManagerConfig }}
        imagePullPolicy: {{ .Values.pullPolicy }}
        securityContext:
          {{- include "liqo.containerSecurityContext" . | nindent 10 }}
        name: {{ $ctrlManagerConfig.name }}
        command: ["/usr/bin/liqo-controller-manager"]
        args:
          - --cluster-id=$(CLUSTER_ID)
          - --cluster-name={{ .Values.discovery.config.clusterName }}
          - --liqo-namespace=$(POD_NAMESPACE)
          - --enable-incoming-peering={{ .Values.discovery.config.incomingPeeringEnabled }}
          - --resource-sharing-percentage={{ .Values.controllerManager.config.resourceSharingPercentage }}
          - --pod-reflection-workers={{ .Values.reflection.pod.workers }}
          - --service-reflection-workers={{ .Values.reflection.service.workers }}
          - --endpointslice-reflection-workers={{ .Values.reflection.endpointslice.workers }}
          - --ingress-reflection-workers={{ .Values.reflection.ingress.workers }}
          - --configmap-reflection-workers={{ .Values.reflection.configmap.workers }}
          - --secret-reflection-workers={{ .Values.reflection.secret.workers }}
          - --serviceaccount-reflection-workers={{ .Values.reflection.serviceaccount.workers }}
          - --persistentvolumeclaim-reflection-workers={{ .Values.reflection.persistentvolumeclaim.workers }}
          - --event-reflection-workers={{ .Values.reflection.event.workers }}
          - --service-reflection-type={{ .Values.reflection.service.type }}
          - --ingress-reflection-type={{ .Values.reflection.ingress.type }}
          - --configmap-reflection-type={{ .Values.reflection.configmap.type }}
          - --secret-reflection-type={{ .Values.reflection.secret.type }}
          - --event-reflection-type={{ .Values.reflection.event.type }}
          {{- if .Values.reflection.skip.labels }}
          {{- $d := dict "commandName" "--labels-not-reflected" "list" .Values.reflection.skip.labels }}
          {{- include "liqo.concatenateList" $d | nindent 10 }}
          {{- end }}
          {{- if .Values.reflection.skip.annotations }}
          {{- $d := dict "commandName" "--annotations-not-reflected" "list" .Values.reflection.skip.annotations }}
          {{- include "liqo.concatenateList" $d | nindent 10 }}
          {{- end }}
          - --kubelet-image={{ .Values.virtualKubelet.imageName }}{{ include "liqo.suffix" $ctrlManagerConfig }}:{{ include "liqo.version" $ctrlManagerConfig }}
          {{- if .Values.virtualKubelet.metrics.enabled }}
          - --kubelet-metrics-address=:{{ .Values.virtualKubelet.metrics.port }}
          - --kubelet-metrics-enabled={{ .Values.virtualKubelet.metrics.enabled }}
          {{- else }}
          {{- end }}
          {{- if .Values.networkManager.externalIPAM.enabled }}
          - --kubelet-ipam-server={{ .Values.networkManager.externalIPAM.url }}
          {{- else if not .Values.networking.internal }}
          - --kubelet-ipam-server=
          - --disable-internal-network
          {{- else }}
          - --kubelet-ipam-server={{ include "liqo.prefixedName" $netManagerConfig }}.{{ .Release.Namespace }}:6000
          {{- end }}
          - --auto-join-discovered-clusters={{ .Values.discovery.config.autojoin }}
          - --enable-storage={{ .Values.storage.enable }}
          - --webhook-port={{ .Values.webhook.port }}
          {{- if .Values.storage.enable }}
          - --virtual-storage-class-name={{ .Values.storage.virtualStorageClassName }}
          - --real-storage-class-name={{ .Values.storage.realStorageClassName }}
          - --storage-namespace={{ .Values.storage.storageNamespace }}
          {{- end }}
          {{- if .Values.controllerManager.config.enableResourceEnforcement }}
          - --enable-resource-enforcement
          {{- end }}
          {{- if .Values.controllerManager.config.enableNodeFailureController }}
          - --enable-node-failure-controller
          {{- end }}
          {{- if .Values.virtualKubelet.extra.annotations }}
          {{- $d := dict "commandName" "--kubelet-extra-annotations" "dictionary" .Values.virtualKubelet.extra.annotations }}
          {{- include "liqo.concatenateMap" $d | nindent 10 }}
          {{- end }}
          {{- if .Values.virtualKubelet.extra.labels }}
          {{- $d := dict "commandName" "--kubelet-extra-labels" "dictionary" .Values.virtualKubelet.extra.labels }}
          {{- include "liqo.concatenateMap" $d | nindent 10 }}
          {{- end }}
          {{- if ge (len $vkargs) 1 }}
          {{- $d := dict "commandName" "--kubelet-extra-args" "list" $vkargs }}
          {{- include "liqo.concatenateList" $d | nindent 10 }}
          {{- end }}
          {{- if .Values.virtualKubelet.virtualNode.extra.annotations }}
          {{- $d := dict "commandName" "--node-extra-annotations" "dictionary" .Values.virtualKubelet.virtualNode.extra.annotations }}
          {{- include "liqo.concatenateMap" $d | nindent 10 }}
          {{- end }}
          {{- if .Values.virtualKubelet.virtualNode.extra.labels }}
          {{- $d := dict "commandName" "--node-extra-labels" "dictionary" .Values.virtualKubelet.virtualNode.extra.labels }}
          {{- include "liqo.concatenateMap" $d | nindent 10 }}
          {{- end }}
          {{- if .Values.common.extraArgs }}
          {{- toYaml .Values.common.extraArgs | nindent 10 }}
          {{- end }}
          {{- if .Values.controllerManager.pod.extraArgs }}
          {{- toYaml .Values.controllerManager.pod.extraArgs | nindent 10 }}
          {{- end }}
          {{- if .Values.discovery.config.clusterLabels }}
          {{- $d := dict "commandName" "--cluster-labels" "dictionary" .Values.discovery.config.clusterLabels }}
          {{- include "liqo.concatenateMap" $d | nindent 10 }}
          {{- end }}
          {{- if gt .Values.controllerManager.replicas 1.0 }}
          - --enable-leader-election=true
          {{- end }}
          {{- /* virtual kubelet pod containers' requests */ -}}
          {{- range $resource, $value := .Values.virtualKubelet.extra.resources.requests }}
          {{- if eq $resource "cpu" }}
          - --kubelet-cpu-requests={{ $value }}
          {{- else if eq $resource "memory" }}
          - --kubelet-ram-requests={{ $value }}
          {{- else }}
          {{ fail (printf "Unsupported resource type \"%s\" for virtual kubelet containers' requests" $resource) }}
          {{- end }}
          {{- end }}
          {{- /* virtual kubelet pod containers' limits */ -}}
          {{- range $resource, $value := .Values.virtualKubelet.extra.resources.limits }}
          {{- if eq $resource "cpu" }}
          - --kubelet-cpu-limits={{ $value }}
          {{- else if eq $resource "memory" }}
          - --kubelet-ram-limits={{ $value }}
          {{- else }}
          {{ fail (printf "Unsupported resource type \"%s\" for virtual kubelet containers' limits" $resource) }}
          {{- end }}
          {{- end }}
          {{- if .Values.controllerManager.config.resourcePluginAddress }}
          - --resource-plugin-address={{ .Values.controllerManager.config.resourcePluginAddress }}
          - --offer-update-threshold-percentage={{ .Values.controllerManager.config.offerUpdateThresholdPercentage | default 0 }}
          {{- else }}
          - --offer-update-threshold-percentage={{ .Values.controllerManager.config.offerUpdateThresholdPercentage | default 5 }}
          {{- end }}
        env:
          - name: CLUSTER_ID
            valueFrom:
              configMapKeyRef:
                name: {{ include "liqo.clusterIdConfig" . }}
                key: CLUSTER_ID
          - name: POD_NAMESPACE
            valueFrom:
             fieldRef:
               fieldPath: metadata.namespace
        resources: {{- toYaml .Values.controllerManager.pod.resources | nindent 10 }}
        volumeMounts:
          - name: webhook-certs
            mountPath: /tmp/k8s-webhook-server/serving-certs/
            readOnly: true
        ports:
        - name: webhook
          containerPort: {{ .Values.webhook.port }}
          protocol: TCP
        - name: healthz
          containerPort: 8081
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /readyz
            port: healthz
      volumes:
      - name: webhook-certs
        secret:
          secretName: {{ include "liqo.prefixedName" $webhookConfig }}-certs
          defaultMode: 420
      {{- if ((.Values.common).nodeSelector) }}
      nodeSelector:
      {{- toYaml .Values.common.nodeSelector | nindent 8 }}
      {{- end }}
      {{- if ((.Values.common).tolerations) }}
      tolerations:
      {{- toYaml .Values.common.tolerations | nindent 8 }}
      {{- end }}
      {{- if ((.Values.common).affinity) }}
      affinity:
      {{- toYaml .Values.common.affinity | nindent 8 }}
      {{- end }}
