/* Increase the marging around the homepage Liqo logo */
.custom-logo-image {
    margin-top: 2ex !important;
    margin-bottom: 5ex !important;
}

/* Smaller font size compared to the alternatives provided by sphinx-design */
.custom-fs-7, .custom-fs-7 > p {
    font-size: 0.85rem !important;
    line-height: unset !important;
}

.mb {
    margin-bottom: 1.5rem !important;
}
