
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: clusterconfigs.config.liqo.io
spec:
  group: config.liqo.io
  names:
    kind: ClusterConfig
    listKind: ClusterConfigList
    plural: clusterconfigs
    singular: clusterconfig
  scope: Cluster
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: ClusterConfig is the Schema for the clusterconfigs API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: ClusterConfigSpec defines the desired state of ClusterConfig
          properties:
            advertisementConfig:
              description: AdvertisementConfig defines the configuration for the advertisement
                protocol
              properties:
                ingoingConfig:
                  description: IngoingConfig defines the behaviour for the acceptance
                    of Advertisements from other clusters
                  properties:
                    acceptPolicy:
                      description: AcceptPolicy defines the policy to accept/refuse
                        an Advertisement. Possible values are AutoAcceptWithinMaximum
                        and Manual. AutoAcceptWithinMaximum means all the Advertisement
                        received will be accepted until the MaxAcceptableAdvertisement
                        limit is reached; Manual means every Advertisement received
                        will need a manual accept/refuse, which can be done by updating
                        its status.
                      enum:
                      - AutoAcceptWithinMaximum
                      - Manual
                      type: string
                    maxAcceptableAdvertisement:
                      description: MaxAcceptableAdvertisement defines the maximum
                        number of Advertisements that can be accepted
                      format: int32
                      minimum: 0
                      type: integer
                  required:
                  - acceptPolicy
                  - maxAcceptableAdvertisement
                  type: object
                keepaliveRetryTime:
                  description: After establishing a sharing with a foreign cluster,
                    a keepalive mechanism starts, in order to know if the foreign
                    cluster is reachable or not. KeepaliveRetryTime defines the time
                    between an attempt to contact the foreign cluster and the next
                    one.
                  format: int32
                  minimum: 0
                  type: integer
                keepaliveThreshold:
                  description: KeepaliveThreshold defines the number of failed attempts
                    to contact the foreign cluster your cluster will tolerate before
                    deleting it.
                  format: int32
                  minimum: 0
                  type: integer
                outgoingConfig:
                  description: OutgoingConfig defines the behaviour for the creation
                    of Advertisements on other clusters
                  properties:
                    enableBroadcaster:
                      description: EnableBroadcaster flag allows you to enable/disable
                        the broadcasting of your Advertisement to the foreign clusters
                      type: boolean
                    resourceSharingPercentage:
                      description: ResourceSharingPercentage defines the percentage
                        of your cluster resources that you will share with foreign
                        clusters
                      format: int32
                      maximum: 100
                      minimum: 0
                      type: integer
                  required:
                  - enableBroadcaster
                  - resourceSharingPercentage
                  type: object
              required:
              - ingoingConfig
              - outgoingConfig
              type: object
            discoveryConfig:
              properties:
                allowUntrustedCA:
                  type: boolean
                autojoin:
                  type: boolean
                autojoinUntrusted:
                  type: boolean
                dnsServer:
                  type: string
                domain:
                  type: string
                enableAdvertisement:
                  type: boolean
                enableDiscovery:
                  type: boolean
                name:
                  type: string
                port:
                  maximum: 65355
                  minimum: 1
                  type: integer
                service:
                  type: string
                updateTime:
                  minimum: 2
                  type: integer
                waitTime:
                  minimum: 1
                  type: integer
              required:
              - allowUntrustedCA
              - autojoin
              - autojoinUntrusted
              - dnsServer
              - domain
              - enableAdvertisement
              - enableDiscovery
              - name
              - port
              - service
              - updateTime
              - waitTime
              type: object
            dispatcherConfig:
              properties:
                resourcesToReplicate:
                  items:
                    description: contains a list of resources identified by their
                      GVR
                    properties:
                      group:
                        type: string
                      resource:
                        type: string
                      version:
                        type: string
                    required:
                    - group
                    - resource
                    - version
                    type: object
                  type: array
              type: object
            liqonetConfig:
              properties:
                podCIDR:
                  type: string
                reservedSubnets:
                  description: contains a list of reserved subnets in CIDR notation
                    used by the k8s cluster like the podCIDR and ClusterCIDR
                  items:
                    type: string
                  type: array
                vxlanNetConfig:
                  properties:
                    DeviceName:
                      type: string
                    Network:
                      type: string
                    Port:
                      type: string
                    Vni:
                      type: string
                  required:
                  - DeviceName
                  - Network
                  - Port
                  - Vni
                  type: object
              required:
              - podCIDR
              - reservedSubnets
              type: object
          required:
          - advertisementConfig
          - discoveryConfig
          - liqonetConfig
          type: object
        status:
          description: ClusterConfigStatus defines the observed state of ClusterConfig
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
