# Default values for liqo.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# -- Images' tag to select a development version of liqo instead of a release
tag: ""
# -- The pullPolicy for liqo pods
pullPolicy: "IfNotPresent"
apiServer:
  # -- The address that must be used to contact your API server, it needs to be reachable from the clusters that you will peer with (defaults to your master IP)
  address: ""
  # -- Indicates that the API Server is exposing a certificate issued by a trusted Certification Authority
  trustedCA: false

controllerManager:
  pod:
    # -- controller-manager pod annotations
    annotations: {}
    # -- controller-manager pod labels
    labels: {}
    # -- controller-manager pod extra arguments
    extraArgs: []
  # -- controller-manager image repository
  imageName: "liqo/liqo-controller-manager"
  config:
    # -- It defines the percentage of available cluster resources that you are willing to share with foreign clusters.
    resourceSharingPercentage: 30

route:
  pod:
    # -- route pod annotations
    annotations: {}
    # -- route pod labels
    labels: {}
    # -- route pod extra arguments
    extraArgs: []
  # -- route image repository
  imageName: "liqo/liqonet"

gateway:
  # -- The number of gateway instances to run.
  # The gateway component supports active/passive high availability.
  # Make sure that there are enough nodes to accommodate the replicas, because being the instances in host network no more
  # than one replica can be scheduled on a given node.
  replicas: 1
  pod:
    # -- gateway pod annotations
    annotations: {}
    # -- gateway pod labels
    labels: {}
    # -- gateway pod extra arguments
    extraArgs: []
  # -- gateway image repository
  imageName: "liqo/liqonet"
  service:
    # -- If you plan to use liqo over the Internet, consider to change this field to "LoadBalancer".
    # Instead, if your nodes are directly reachable from the cluster you are peering to, you may change it to "NodePort".
    type: "LoadBalancer"
    annotations: {}
  config:
    # -- port used by the vpn tunnel.
    listeningPort: 5871

networkManager:
  pod:
    # -- networkManager pod annotations
    annotations: {}
    # -- networkManager pod labels
    labels: {}
    # -- networkManager pod extra arguments
    extraArgs: []
  # -- networkManager image repository
  imageName: "liqo/liqonet"
  config:
    # -- The subnet used by the cluster for the pods, in CIDR notation
    podCIDR: ""
    # -- The subnet used by the cluster for the services, in CIDR notation
    serviceCIDR: ""
    # -- Usually the IPs used for the pods in k8s clusters belong to private subnets.
    # In order to prevent IP conflicting between locally used private subnets in your infrastructure and private subnets belonging to remote clusters
    # you need tell liqo the subnets used in your cluster. E.g if your cluster nodes belong to the 192.168.2.0/24 subnet then
    # you should add that subnet to the reservedSubnets. PodCIDR and serviceCIDR used in the local cluster are automatically added to the reserved list.
    reservedSubnets: []
    # -- Set of additional network pools.
    # Network pools are used to map a cluster network into another one in order to prevent conflicts.
    # Default set of network pools is: [10.0.0.0/8, 192.168.0.0/16, 172.16.0.0/12]
    additionalPools: []

crdReplicator:
  pod:
    # -- crdReplicator pod annotations
    annotations: {}
    # -- crdReplicator pod labels
    labels: {}
    # -- crdReplicator pod extra arguments
    extraArgs: []
  # -- crdReplicator image repository
  imageName: "liqo/crd-replicator"

discovery:
  pod:
    # -- discovery pod annotations
    annotations: {}
    # -- discovery pod labels
    labels: {}
    # -- discovery pod extra arguments
    extraArgs: []
  # -- discovery image repository
  imageName: "liqo/discovery"
  config:
    # -- Set a mnemonic name for your cluster
    clusterName: ""
    # -- A set of labels which characterizes the local cluster when exposed remotely as a virtual node.
    # It is suggested to specify the distinguishing characteristics that may be used to decide whether to offload pods on this cluster.
    clusterLabels: {}
     # topology.kubernetes.io/zone: us-east-1
     # liqo.io/provider: your-provider

    # -- Automatically join discovered clusters
    autojoin: true
    # -- Allow (by default) the remote clusters to establish a peering with our cluster
    incomingPeeringEnabled: true
    # -- Enable the mDNS advertisement on LANs, set to false to not be discoverable from other clusters in the same LAN
    enableAdvertisement: false
    # -- Enable the mDNS discovery on LANs, set to false to not look for other clusters available in the same LAN
    enableDiscovery: false
    # -- Time-to-live before an automatically discovered clusters is deleted from the list of available ones if no longer announced (in seconds)
    ttl: 90

auth:
  pod:
    # -- auth pod annotations
    annotations: {}
    # -- auth pod labels
    labels: {}
    # -- auth pod extra arguments
    extraArgs: []
  # -- auth image repository
  imageName: "liqo/auth-service"
  initContainer:
    # -- auth init container image repository
    imageName: "liqo/cert-creator"
  service:
    # -- The type of service used to expose the Authentication Service.
    # If you are exposing this service with an Ingress, you can change it to ClusterIP;
    # if your cluster does not support LoadBalancer services, consider to switch it to NodePort.
    # See https://doc.liqo.io/installation/ for more details.
    type: "LoadBalancer"
    # -- auth service annotations
    annotations: {}
  # -- Enable TLS for the Authentication Service Pod (using a self-signed certificate).
  # If you are exposing this service with an Ingress consider to disable it or add the appropriate annotations to the Ingress resource.
  tls: true
  # -- Overrides the port where your service is available, you should configure it if behind a NAT or using an Ingress with a port different from 443.
  portOverride: ""
  ingress:
    # -- Auth ingress annotations
    annotations: {}
    # -- Whether to enable the creation of the Ingress resource
    enable: false
    # -- Set the hostname for your ingress
    host: ""
    # -- Set your ingress class
    class: ""
  config:
    # -- Set to false to disable the authentication of discovered clusters. NB: use it only for testing installations
    enableAuthentication: true

metricAgent:
  # -- Enable the metric agent
  enable: true
  pod:
    # -- metricAgent pod annotations
    annotations: {}
    # -- metricAgent pod labels
    labels: {}
    # -- metricAgent pod extra arguments
    extraArgs: []
  # -- metricAgent image repository
  imageName: "liqo/metric-agent"
  initContainer:
    # -- auth init container image repository
    imageName: "liqo/cert-creator"

webhook:
  pod:
    # -- webhook pod annotations
    annotations: {}
    # -- webhook pod labels
    labels: {}
    # -- webhook pod extra arguments
    extraArgs: []
  # -- webhook image repository
  imageName: "liqo/liqo-webhook"
  initContainer:
    # -- webhook init container image repository
    imageName: "liqo/webhook-configuration"
  service:
    # -- webhook service annotations
    annotations: {}
  mutatingWebhookConfiguration:
    # -- mutatingWebhookConfiguration annotations
    annotations: {}

virtualKubelet:
  # -- virtual kubelet image repository
  imageName: "liqo/virtual-kubelet"
  initContainer:
    # -- virtual kubelet init container image repository
    imageName: "liqo/init-virtual-kubelet"
  # add additional values for this fields to add to virtual kubelet deployments and pods
  extra:
    # -- virtual kubelet pod extra annotations
    annotations: {}
    # -- virtual kubelet pod extra labels
    labels: {}
    # -- virtual kubelet pod extra arguments
    args: []
  virtualNode:
    extra:
      # -- virtual node extra annotations
      annotations: {}
      # -- virtual node extra labels
      labels: {}

storage:
  # -- enable the liqo virtual storage class on the local cluster. You will be able to
  # offload your persistent volumes and other clusters will be able to schedule their
  # persistent workloads on the current cluster.
  enable: true
  # -- name to assign to the liqo virtual storage class
  virtualStorageClassName: liqo
  # -- name of the real storage class to use in the local cluster
  realStorageClassName: ""
  # -- namespace where liqo will deploy specific PVCs
  storageNamespace: liqo-storage

# -- liqo name override
nameOverride: ""
# -- full liqo name override
fullnameOverride: ""

# aws configuration for the local cluster and the Liqo user,
# this user should be able to create new IAM user, to create new programmatic access
# credentials, and to describe EKS clusters.
# NOTE: set it only if running on EKS, otherwise let this fields with the default value
awsConfig:
  # -- accessKeyID for the Liqo user
  accessKeyId: ""
  # -- secretAccessKey for the Liqo user
  secretAccessKey: ""
  # -- AWS region where the clsuter is runnnig
  region: ""
  # -- name of the EKS cluster
  clusterName: ""

# set the OpenShift-specific configurations
openshiftConfig:
  # -- enable the OpenShift support
  enable: false

# configuration for liqo networking
networkConfig:
  # -- set the mtu for the interfaces managed by liqo: vxlan, tunnel and veth interfaces
  # The value is used by the gateway and route operators.
  mtu: 1440
