
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.0
  creationTimestamp: null
  name: clusterconfigs.config.liqo.io
spec:
  group: config.liqo.io
  names:
    kind: ClusterConfig
    listKind: ClusterConfigList
    plural: clusterconfigs
    singular: clusterconfig
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ClusterConfig is the Schema for the clusterconfigs API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ClusterConfigSpec defines the desired state of ClusterConfig
            properties:
              advertisementConfig:
                description: AdvertisementConfig defines the configuration for the
                  advertisement protocol
                properties:
                  ingoingConfig:
                    description: IngoingConfig defines the behaviour for the acceptance
                      of Advertisements from other clusters
                    properties:
                      acceptPolicy:
                        description: AcceptPolicy defines the policy to accept/refuse
                          an Advertisement. Possible values are AutoAcceptMax and
                          Manual. AutoAcceptMax means all the Advertisement received
                          will be accepted until the MaxAcceptableAdvertisement limit
                          is reached; Manual means every Advertisement received will
                          need a manual accept/refuse, which can be done by updating
                          its status.
                        enum:
                        - AutoAcceptMax
                        - Manual
                        type: string
                      maxAcceptableAdvertisement:
                        description: MaxAcceptableAdvertisement defines the maximum
                          number of Advertisements that can be accepted over time.
                          The maximum value for this field is set to 1000000, a symbolic
                          value that implements the AcceptAll policy.
                        format: int32
                        maximum: 1000000
                        minimum: 0
                        type: integer
                    required:
                    - acceptPolicy
                    - maxAcceptableAdvertisement
                    type: object
                  keepaliveRetryTime:
                    description: After establishing a sharing with a foreign cluster,
                      a keepalive mechanism starts, in order to know if the foreign
                      cluster is reachable or not. KeepaliveRetryTime defines the
                      time between an attempt to contact the foreign cluster and the
                      next one.
                    format: int32
                    minimum: 0
                    type: integer
                  keepaliveThreshold:
                    description: KeepaliveThreshold defines the number of failed attempts
                      to contact the foreign cluster your cluster will tolerate before
                      deleting it.
                    format: int32
                    minimum: 0
                    type: integer
                  labelPolicies:
                    description: LabelPolicies contains the policies for each label
                      to be added to remote virtual nodes
                    items:
                      description: LabelPolicy define a key-value structure to indicate
                        which keys have to be aggregated and with which policy
                      properties:
                        key:
                          description: Label Key to be aggregated in new virtual nodes
                          type: string
                        policy:
                          default: LabelPolicyAnyTrue
                          description: Merge labels Policy
                          enum:
                          - LabelPolicyAnyTrue
                          - LabelPolicyAllTrue
                          - LabelPolicyAnyTrueNoLabelIfFalse
                          - LabelPolicyAllTrueNoLabelIfFalse
                          type: string
                      required:
                      - key
                      type: object
                    type: array
                  outgoingConfig:
                    description: OutgoingConfig defines the behaviour for the creation
                      of Advertisements on other clusters
                    properties:
                      enableBroadcaster:
                        description: EnableBroadcaster flag allows you to enable/disable
                          the broadcasting of your Advertisement to the foreign clusters.
                          When EnableBroadcaster is set to false, the home cluster
                          notifies to the foreign he wants to stop sharing resources.
                          This will trigger the deletion of the virtual-kubelet and,
                          after that, of the Advertisement,
                        type: boolean
                      resourceSharingPercentage:
                        description: ResourceSharingPercentage defines the percentage
                          of your cluster resources that you will share with foreign
                          clusters.
                        format: int32
                        maximum: 100
                        minimum: 0
                        type: integer
                    required:
                    - enableBroadcaster
                    - resourceSharingPercentage
                    type: object
                required:
                - ingoingConfig
                - outgoingConfig
                type: object
              agentConfig:
                description: "AgentConfig defines the configuration required by the
                  LiqoAgent app to enable some features on a Liqo cluster. \n LiqoAgent
                  (https://github.com/liqotech/liqo-agent) is an external desktop
                  application that allows the user to interact more easily with a
                  Liqo cluster."
                properties:
                  dashboardConfig:
                    description: DashboardConfig contains the parameters required
                      by LiqoAgent to provide access to LiqoDash (https://github.com/liqotech/dashboard).
                    properties:
                      appLabel:
                        description: AppLabel defines the value of the 'app' label.
                          All LiqoDash related resources are labelled with it.
                        type: string
                      namespace:
                        description: Namespace defines the namespace LiqoDash resources
                          belongs to.
                        type: string
                    required:
                    - appLabel
                    - namespace
                    type: object
                required:
                - dashboardConfig
                type: object
              authConfig:
                properties:
                  allowEmptyToken:
                    default: false
                    description: Allow remote clusters to get an identity with an
                      empty token
                    type: boolean
                type: object
              discoveryConfig:
                properties:
                  authService:
                    default: _liqo_auth._tcp
                    type: string
                  autojoin:
                    type: boolean
                  autojoinUntrusted:
                    type: boolean
                  clusterName:
                    description: ClusterName is a nickname for your cluster that can
                      be easily understood by a user
                    type: string
                  domain:
                    type: string
                  enableAdvertisement:
                    type: boolean
                  enableDiscovery:
                    type: boolean
                  name:
                    type: string
                  port:
                    maximum: 65355
                    minimum: 1
                    type: integer
                  service:
                    type: string
                  ttl:
                    format: int32
                    minimum: 30
                    type: integer
                required:
                - autojoin
                - autojoinUntrusted
                - domain
                - enableAdvertisement
                - enableDiscovery
                - name
                - port
                - service
                - ttl
                type: object
              dispatcherConfig:
                properties:
                  resourcesToReplicate:
                    items:
                      description: contains a list of resources identified by their
                        GVR
                      properties:
                        group:
                          type: string
                        resource:
                          type: string
                        version:
                          type: string
                      required:
                      - group
                      - resource
                      - version
                      type: object
                    type: array
                type: object
              liqonetConfig:
                properties:
                  GKEProvider:
                    default: false
                    description: set this flag to true if you are using GKE, default
                      value is "false"
                    type: boolean
                  podCIDR:
                    description: the subnet used by the cluster for the pods, in CIDR
                      notation
                    pattern: ^([0-9]{1,3}.){3}[0-9]{1,3}(/([0-9]|[1-2][0-9]|3[0-2]))$
                    type: string
                  reservedSubnets:
                    description: This field is used by the IPAM embedded in the tunnelEndpointCreator.
                      Subnets listed in this field are excluded from the list of possible
                      subnets used for natting POD CIDR. Add here the subnets already
                      used in your environment as a list in CIDR notation (e.g. [10.1.0.0/16,
                      10.200.1.0/24]).
                    items:
                      pattern: ^([0-9]{1,3}.){3}[0-9]{1,3}(/([0-9]|[1-2][0-9]|3[0-2]))$
                      type: string
                    type: array
                  serviceCIDR:
                    description: the subnet used by the cluster for the services,
                      in CIDR notation
                    pattern: ^([0-9]{1,3}.){3}[0-9]{1,3}(/([0-9]|[1-2][0-9]|3[0-2]))$
                    type: string
                required:
                - GKEProvider
                - podCIDR
                - reservedSubnets
                - serviceCIDR
                type: object
            required:
            - advertisementConfig
            - agentConfig
            - authConfig
            - discoveryConfig
            - liqonetConfig
            type: object
          status:
            description: ClusterConfigStatus defines the observed state of ClusterConfig
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
