[Desktop Entry]
Type=Application
Version=1.1
Name=Liqo Agent
GenericName=Kubernetes resource sharing
NoDisplay=false
Icon=io.liqo.Agent
Comment=Tray bar app\nto interact with Liqo.
Hidden=false
TryExec="${HOME}/.local/bin/liqo-agent"
Exec="${HOME}/.local/bin/liqo-agent"
Terminal=false
Categories=Development
Keywords=Kubernetes;Liqo;sharing;resource;cluster;cpu;memory;pod;offload;
StartupNotify=false
