---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.3
  name: gatewayservers.networking.liqo.io
spec:
  group: networking.liqo.io
  names:
    categories:
    - liqo
    kind: GatewayServer
    listKind: GatewayServerList
    plural: gatewayservers
    shortNames:
    - gws
    - gwserver
    singular: gatewayserver
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.serverTemplateRef.kind
      name: Template Kind
      priority: 1
      type: string
    - jsonPath: .spec.serverTemplateRef.name
      name: Template Name
      type: string
    - jsonPath: .spec.serverTemplateRef.namespace
      name: Template Namespace
      priority: 1
      type: string
    - jsonPath: .status.endpoint.addresses[*]
      name: IP
      type: string
    - jsonPath: .status.endpoint.port
      name: Port
      type: string
    - jsonPath: .status.endpoint.protocol
      name: Protocol
      priority: 1
      type: string
    - jsonPath: .spec.mtu
      name: MTU
      priority: 1
      type: integer
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1beta1
    schema:
      openAPIV3Schema:
        description: GatewayServer defines a gateway server that remote gateway clients
          need to point to.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: GatewayServerSpec defines the desired state of GatewayServer.
            properties:
              endpoint:
                description: Endpoint specifies the endpoint of the tunnel.
                properties:
                  loadBalancerIP:
                    description: |-
                      LoadBalancerIP override the LoadBalancer IP to use a specific IP address (e.g., static LB). It is used only if service type is LoadBalancer.
                      LoadBalancer provider must support this feature.
                    type: string
                  nodePort:
                    description: NodePort allocates a static port for the NodePort
                      service.
                    format: int32
                    type: integer
                  port:
                    description: Port specifies the port of the endpoint.
                    format: int32
                    type: integer
                  serviceType:
                    default: ClusterIP
                    description: ServiceType specifies the type of the service.
                    enum:
                    - ClusterIP
                    - NodePort
                    - LoadBalancer
                    - ExternalName
                    type: string
                type: object
              mtu:
                description: MTU specifies the MTU of the tunnel.
                type: integer
              secretRef:
                description: |-
                  SecretRef specifies the reference to the secret containing configurations.
                  Leave it empty to let the operator create a new secret.
                properties:
                  name:
                    default: ""
                    description: |-
                      Name of the referent.
                      This field is effectively required, but due to backwards compatibility is
                      allowed to be empty. Instances of this type with an empty value here are
                      almost certainly wrong.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                type: object
                x-kubernetes-map-type: atomic
              serverTemplateRef:
                description: ServerTemplateRef specifies the reference to the server
                  template.
                properties:
                  apiVersion:
                    description: API version of the referent.
                    type: string
                  fieldPath:
                    description: |-
                      If referring to a piece of an object instead of an entire object, this string
                      should contain a valid JSON/Go field access statement, such as desiredState.manifest.containers[2].
                      For example, if the object reference is to a container within a pod, this would take on a value like:
                      "spec.containers{name}" (where "name" refers to the name of the container that triggered
                      the event) or if no container name is specified "spec.containers[2]" (container with
                      index 2 in this pod). This syntax is chosen only to have some well-defined way of
                      referencing a part of an object.
                    type: string
                  kind:
                    description: |-
                      Kind of the referent.
                      More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
                    type: string
                  name:
                    description: |-
                      Name of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                  namespace:
                    description: |-
                      Namespace of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/
                    type: string
                  resourceVersion:
                    description: |-
                      Specific resourceVersion to which this reference is made, if any.
                      More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency
                    type: string
                  uid:
                    description: |-
                      UID of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids
                    type: string
                type: object
                x-kubernetes-map-type: atomic
            type: object
          status:
            description: GatewayServerStatus defines the observed state of GatewayServer.
            properties:
              endpoint:
                description: Endpoint specifies the endpoint of the tunnel.
                properties:
                  addresses:
                    description: Addresses specifies the addresses of the endpoint.
                    items:
                      type: string
                    type: array
                  port:
                    description: Port specifies the port of the endpoint.
                    format: int32
                    type: integer
                  protocol:
                    description: Protocol specifies the protocol of the endpoint.
                    enum:
                    - TCP
                    - UDP
                    type: string
                type: object
              internalEndpoint:
                description: InternalEndpoint specifies the endpoint for the internal
                  network.
                properties:
                  ip:
                    description: IP is the IP address of the endpoint.
                    format: ipv4
                    type: string
                  node:
                    description: Node is the name of the node where the endpoint is
                      running.
                    type: string
                type: object
              secretRef:
                description: SecretRef specifies the reference to the secret.
                properties:
                  apiVersion:
                    description: API version of the referent.
                    type: string
                  fieldPath:
                    description: |-
                      If referring to a piece of an object instead of an entire object, this string
                      should contain a valid JSON/Go field access statement, such as desiredState.manifest.containers[2].
                      For example, if the object reference is to a container within a pod, this would take on a value like:
                      "spec.containers{name}" (where "name" refers to the name of the container that triggered
                      the event) or if no container name is specified "spec.containers[2]" (container with
                      index 2 in this pod). This syntax is chosen only to have some well-defined way of
                      referencing a part of an object.
                    type: string
                  kind:
                    description: |-
                      Kind of the referent.
                      More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
                    type: string
                  name:
                    description: |-
                      Name of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                  namespace:
                    description: |-
                      Namespace of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/
                    type: string
                  resourceVersion:
                    description: |-
                      Specific resourceVersion to which this reference is made, if any.
                      More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency
                    type: string
                  uid:
                    description: |-
                      UID of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids
                    type: string
                type: object
                x-kubernetes-map-type: atomic
              serverRef:
                description: ServerRef specifies the reference to the server.
                properties:
                  apiVersion:
                    description: API version of the referent.
                    type: string
                  fieldPath:
                    description: |-
                      If referring to a piece of an object instead of an entire object, this string
                      should contain a valid JSON/Go field access statement, such as desiredState.manifest.containers[2].
                      For example, if the object reference is to a container within a pod, this would take on a value like:
                      "spec.containers{name}" (where "name" refers to the name of the container that triggered
                      the event) or if no container name is specified "spec.containers[2]" (container with
                      index 2 in this pod). This syntax is chosen only to have some well-defined way of
                      referencing a part of an object.
                    type: string
                  kind:
                    description: |-
                      Kind of the referent.
                      More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
                    type: string
                  name:
                    description: |-
                      Name of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                  namespace:
                    description: |-
                      Namespace of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/
                    type: string
                  resourceVersion:
                    description: |-
                      Specific resourceVersion to which this reference is made, if any.
                      More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency
                    type: string
                  uid:
                    description: |-
                      UID of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids
                    type: string
                type: object
                x-kubernetes-map-type: atomic
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
