name: "Pull Request Labeler"
on:
  pull_request_target:
    types:
    - opened
    - reopened
    - synchronize

jobs:
  triage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/labeler@v2
      with:
        repo-token: "${{ secrets.CI_TOKEN }}"

