name: Unit Testing
on:
  push:
    branches:
      - "master"
  issue_comment:
    types:
      - created

jobs:
  test:
    name: Launch Test
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || (github.event_name == 'issue_comment' && contains(github.event.comment.body, '/test'))
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Launch Test (Docker Container)
        run: make unit
